body { 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

section {
  width: 100%;
}

.container-section1 {
  margin-top: 30px;
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/bg-covid.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container-section2 {
  min-height: 100vh;
}

.shadow {
  -webkit-box-shadow: 0px -1px 18px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 18px -9px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 18px -9px rgba(0,0,0,0.75);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title .navbar-brand {
  font-size: 25px;
}
.title span {
  font-size: 12px;
}

.border-red {
  border-radius: 10px;
  border-bottom: 4px solid red;
}
.border-green {
  border-radius: 10px;
  border-bottom: 4px solid green;
}
.border-black {
  border-radius: 10px;
  border-bottom: 4px solid rgb(110, 110, 110);
}

.card-container {
  position: relative; 
  height:70vh; 
  width:90vw;
}

@media screen and (max-width: 576px) {
  .container-section1 {
    padding-top: 150px;
    padding-bottom: 30px;
  }
}